.info-user{
    border: 1px solid #0984e3;
    background-color: #00A9DD20;
    border-radius: 7px;
    padding: 10px;
}

.main-perfil{
    padding: 10px;
}

.actualizar-user{
    margin-top: 10px;
}
.btn-perfil{
    padding: 10px 20px;
    color: #fff;
    background-color: #0984e3;
    border-radius: 20px;
    margin:auto;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
}

.btn-guardar{
   width: 40%;
}

.btn-cancelar{
   width: 40%;
}

.btn-actualizar{
   width: 80%;
}