.container-image-slide {
  padding: 15px;
}

.container-image-slide img {
  margin: auto;
  width: 75%;
  position: relative;
}

.notification-card {}

.notification-title {
  font-weight: bold;
  font-size: 1em;
}

.notification-body .ion-text-wrap {
  
}
