.form{
  padding: 10px;
}

.header {
  margin: 0px 10px;
  overflow: hidden;
}

.info-exam {
  margin: 10px;
  overflow: hidden;
}

.separador {
  background-color:var(--color-primary);
  margin: 5px 20px;
  border: 1px solid #00A9DD;
}

/*.opcion:hover {
  background-color: aquamarine;
  transform: scale(1.01);
  transition: background-color .5s;
}*/

.opcion {
  border: 1px solid #00A9DD;
  border-radius: 15px;
  padding: 3px;
  align-items: center;
  align-content: center;
  background-color: #fff;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
}

.opcion_selected {
  background-color: #0984e3;
  color: #fff;
}

.opcion h6 {
  margin:2px auto;

  font-weight: bold;
}

.paginador {
  display: inline-block;
  width: 100%;
}

.btn-paginador {
  border: 1px solid #0984e3;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  padding: 7px 15px;
  align-items: center;
  align-content: center;
  background-color: #0984e3;
  cursor: pointer;
  margin: 10px;
}

/*.btn-paginador:hover {
  background-color: aquamarine;
  transform: scale(1.01);
  transition: background-color .5s;
}*/

.indice-pregunta {
  text-align: center;
  align-content: center;
}

.indice-pregunta h6{
  font-weight: bold;
}

.descripcion-pregunta {
  margin-top: 5px;
  text-align: center;
  align-content: center;
}
.descripcion-pregunta h6{
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.9em;
}


.indice-pregunta h6 {
  background-color: #0984e3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.btn-atras {
  float: left;
}

.btn-siguiente {
  float: right;
}

.hint-pregunta {
  cursor: pointer;
  background-color: aquamarine;
}

.container-body {
  margin: 10px;
}

.container-pregunta {
  border: 1px solid #00A9DD;
  border-radius: 7px;
  padding: 10px;
}

.title-exam {
  background: linear-gradient(to bottom, #0984e3, #00A9DD);
  color: #fff;
  text-align: center;
  margin: 10px 20px;
  padding: 8px;
  border-radius: 10px;
}

.title-exam h3{
  margin: 5px ;
  font-weight: bold;
  font-size: 1.2em;
}


.title-exam-preguntas {
  float: left;
  font-size: 0.8em;
}

.title-exam-preguntas h3 {
  font-size: 1em;
}

.title-exam-tiempo {
  float: right;
  font-size: 0.8em;
}

.title-exam-tiempo h3 {
  font-size: 1em;
}

.info-exam {
  padding: 5px 5px;
  margin:0;
  text-align: justify;
}

.text-respuesta{
  width: 100%;
  border: 1px solid #00A9DD;
  border-radius: 7px;
  padding: 5px;
  font-size: 1.4em;
  font-family: inherit;
}
.observaciones-exam{
  font-size: 0.6em;
  color: gray;
  margin:0;
}

.descripcion-imagen-pregunta{
  max-width: 100%;
  border-radius: 10px;
  text-align: center;
 
}
.descripcion-imagen-pregunta img{
  max-height: 50vh;
  height: 100%;
}