.container-acordion{
  margin: 10px;
}
.accordion {
  background: linear-gradient(#075da0, #00A9DD);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s;
  
  border-radius: 7px 7px 0 0;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 20px;
  background-color: white;
  border: 1px solid #0984e3;
  border-radius: 0 0 7px 7px;
}

.hide {
  overflow: hidden;
  display: none;
}

.container-notas {
  
  display: flex;
  justify-content: space-between;
}
.container-notas h5 {
  font-weight: bold;
  
}
.container-notas .number {
  color: #0984e3;
}
.container-acordion hr {
  background-color:  #0984e3;
  margin: 10px 0;
}
.container-observaciones h3{
  text-transform: uppercase;
  color: rgba(0,0,0,.85);
  font-weight: bold;
  font-size: 1em;
}
.container-observaciones p {
  color: rgba(0,0,0,.6);

}
